body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
.all_things {
    border: 1px solid red;
}
.type_1 {
    border: 1px solid red;
}
.type_2 {
    border: 1px solid red;
}
.type_3 {
    border: 1px solid red;
}

/*-----------------------Torrent Button-----------------*/
.container_3 {
	width: 280px;
	border: 1px solid green;
	display: block;
	margin: 0;
}
.magnet_3 {
	padding: 2px 66.8px;
}
.torrent_3 {
	padding: 2px 68.2px;
}
.stream_3 {
	padding: 2px 69.8px;
}
.itorrent_3 {
	padding: 2px 75px;
}
.t_3 {
	padding: 2px 78px;
}
.b_3 {
	padding: 2px 76.3px;
}
.row_3 {
  margin-top: 0px;
}

#drop_view {
  display: none;
}
#drop_view.is_active {
  display: block;
}
#drop_view .list-group-item {
  cursor: pointer;
}
#drop_view .list-group-item:hover {
  background-color: #f6f6f6;
}
/*---*/
.stream_q, .torrent_q, .magnet_q {
	text-decoration: none;
	Color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin: 0 0px;
	border: 3px solid #000;
    font-weight: 500;
	border-radius: 4px;
	line-height: 2.2;
}
.stream_q:hover, .torrent_q:hover, .magnet_q:hover {
	background-color: rgb(235, 235, 235);;
}
/*-----------------------Torrent Button END-----------------*/